.addProd {
  h3 {
    text-align: center;
  }

  &__main,
  &__sec {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 14px;
    margin: 14px 0;

    > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 220px;
    }

    button {
      background: transparent;
      color: $productCreatorColor;
      border: 2px solid $productSaleColor;
      border-radius: 4px;
      height: 20px;
      width: 70px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      cursor: pointer;

      &:disabled {
        background-color: $borderColor;
        cursor: not-allowed;
      }
    }

    &__img {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }

  &__main {
    &__img {
      padding: 12px;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }
  }

  &__sec {
    &__imgs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      padding: 12px;
      border: 1px solid $borderColor;
      border-radius: 4px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid $borderColor;
        border-radius: 4px;
        padding: 6px;

        img {
          width: 210px;
          height: 210px;
        }
      }
    }
  }
}
