//this is config file for privacy (Sar & Erasure) pages
:root {
  // you can use '--genericColor: #3a8369;' instead of couple css-variables with the same value below

  --btn-submit-bg: #bd0028;
  --btn-submit-text: #fff;
  --btn-submit-focus: #e70334;
  --border-radius: 4px;
}
