.buttonBase {
  box-shadow: none;
  border: 1px solid var(--btn-submit-bg);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 0.5em;
  margin: 1em 0;
  min-width: 10em;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  background: var(--btn-submit-bg);
  color: var(--btn-submit-text);
  outline: none;

  &:focus {
    border-color: var(--btn-submit-focus);
  }

  &:hover {
    animation: anim2 0.3s 1 linear;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
  }

  @media (hover: hover) and (pointer: fine) {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
  }

  @keyframes anim2 {
    0% {
      transform: translateX(4px);
    }

    25% {
      transform: translateX(6px);
    }

    50% {
      transform: translateX(-4px);
    }

    75% {
      transform: translateX(-6px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
