.dropdown {
  font: inherit;

  button {
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    background-color: transparent;
    min-width: 16px;
    cursor: pointer;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $borderColor;
      clear: both;
    }
    // @include iconAfter($icon-triangle-down);

    // &::after {
    //   font-size: 24px;
    // }

    &.activeDropdown {
      // &::after {
      //   color: $dropdownActiveIconColor;
      // }
    }
  }

  ul {
    z-index: 1;
    position: fixed;
    margin: 0;
    padding: 0;
    outline: 0;
    min-width: 48px;
    bottom: 0;
    list-style: none;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;

    li {
      padding: 12px 16px;
      cursor: pointer;
      transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

      &:hover {
        background: #dfeef7;
      }

      &[data-disabled] {
        color: #e1e1e1;
      }
    }
  }

  [data-popper-reference-hidden] {
    visibility: hidden;
    pointer-events: none;
  }
}
